# PyCharm
.idea/

# Apple/iOS files
*.DS_Store

#Data Extraction
data/get_data.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# connector
connector